<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Proxy</title>
</head>
<body>
    <p>Redirecting...</p>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/proxy-sw.js', {scope:'/'}).then(function(registration) {
                var requestedUrl = new URL(window.location.pathname.substring('/web/'.length))

                function redirect() {
                    registration.active.postMessage(requestedUrl.origin)
                    window.location.replace(window.location.origin + requestedUrl.pathname + requestedUrl.search)
                }

                if (registration.active || registration.waiting) {
                    redirect()
                } else if (registration.installing) {
                    registration.installing.addEventListener('statechange', (e) => {
                        if (registration.active) {
                            redirect()
                        }
                    })
                }
            }).catch(function(error) {
                console.error('Service Worker registration failed:', error)
                document.body.innerText = 'Service Worker registration failed (see console)'
            });
        } else {
            document.body.innerText = 'Service Worker unavailable'
        }
    </script>
</body>
</html>